body {
  background-color: rgb(5, 12, 61);
  color: white;
  text-align: center;
  margin: 50px;
}

main {
    font-size: large;
    margin-top: 0;
}

.header-container div {
  display: inline-block;
}

.header-container ul li {
  display: inline;
  padding: 10px;
}

.description a {
    text-decoration: none;
    color: black;
}

.description a:hover {
    color: green;
}

.index {
  margin-left: 100px;
}

.main-container img {
  border-radius: 100px;
  margin-right: 60px;
  margin-left: 100px;
  margin-top: 40px;
}

.image {
  float: right;
  padding: 1px black;
}

.main-container {
  padding-top: 40px;
  border-radius: 100px;
  background-color: white;
  display: inline-block;
}

.main-container p {
  text-align: left;
  text-shadow: black 0.01em 0.01em;
  color: black;
  border-radius: 100px;
  margin-right: 60px;
  margin-left: 100px;
  margin-bottom: 40px;

}

.name p {
  text-align: center;
}

.habilitsList div {
  color: black;
  text-align: left;
  margin-right: 60px;
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 0px;
}

footer {
  padding-top: 60px;
  margin: auto;
  bottom: 0;
  padding-bottom: 0%;
}

footer img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

footer section {
  vertical-align: middle;
  display: inline-block;
}

.social-redes div {
  margin-left: 20px;
  width: 40px;
  display: inline-block;
}

.Github-logo {
    background-color: white;
    border-radius: 50%;
}

.assignment {
    padding-top: 50px;
    scroll-padding-bottom: 0;
    font-size: small;
}

.assignment a {
    color: white;
    text-decoration: none;
}

.assignment a:hover {
    color: yellow;
}